<div class="row" >
       
    <div class="col-lg-4 text-center">
            <img width="400px" height="300px" src="gs://myshop-fc5da.appspot.com/uploads/t-shirt.jpg" alt="">
        </div>


    <div class="col-lg-8  bg-gray">
       <h1>
          Name : {{products.name}}
       </h1>
       <hr>
       <h3>
        < Category :    {{products.name}}
       </h3>
       <hr>
       <span>
         Price :  {{products.price}}Rs.
       </span>
       <hr>
       <p>
        Description :     {{products.description}}
       </p>
       <h4>
           Select Qty:
       </h4>
       <span>
           <select name="" id="">
               <option value="">1</option>
               <option value="">2</option>
               <option value="">3</option>
               <option value="">4</option>
               <option value="">5</option>
           </select>
       </span>
       <hr>
       <button class="btn btn-warning text-light"> 
            Add to Cart  
       </button>
    

</div>